<!DOCTYPE html>
<html lang="en">
<head>
    <title>Questionnaire</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="container unselectable" id="questionsPage">
        <div id="topText" class="topTextContainer"></div>
        <div id="questions" class="questionsContainer"></div>
        <div class="row">
            <div class="col-xs-1">
                <div id="counter"></div>
            </div>
            <div class="col-xs-10">
                <nav>
                    <ul class="pager">
                        <li>
                            <button id="btPreviousQuestion" class="btn btn-default">Previous</button>
                        </li>
                        <li>
                            <button id="btNextQuestion" class="btn btn-default" disabled>Next</button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
    <script type="text/javascript">
        var answersDictionary;
        $(document).ready(function () {

            // declarations
            var urlParams = new URLSearchParams(location.search);
            var person_id = urlParams.get('person');
            var patientId = parseInt(person_id, 10);
            var url = '/api/questionnaire/' + patientId.toString();
            answersDictionary = {};
            var questionHtml = '';
            var current = 1;
            var min = 1;
            var max = 1;


            $.get(url, function (data) {

                // for paging
                max = data.length;
                $.each(data, function (key, val) {
                    questionHtml =
                        "<div id= 'question" + val.questionNumber.toString() + "' class='question'>" +
                        "<h3 class='questionText'>" + val.questionText + "</h3>" +
                        "<div class='list-group answer-choices'>";
                    for (var i = 0; i < val.answerChoices.length; i++) {
                        questionHtml += "<button type='button' id = 'answer" + val.answerChoices[i].id.toString() + "' class='list-group-item answer-choice btnsQ" + val.questionNumber.toString() + "' onClick='highlightAnswerChoice(this.id, " + val.questionNumber.toString() + ")'>" + val.answerChoices[i].answerText.toString() + "</button>";
                    }
                    questionHtml += "</div>";

                    if (!$('#questionTitle').length) {
                        var header = "<h2 id='questionTitle' class='text-center'>" + val.ageGroup.description + " Years Old Asthma Control Assessment" + "</h2>";
                        $('#topText').append(header);
                    }

                    $('#questions').append(questionHtml);
                });
                questionHtml = '';
                // for paging
                $('.question').hide();
                $("#btPreviousQuestion").hide();
                $('#question1').show();
                $('#counter').text(current.toString() + '/' + max.toString());

            }).fail(function () {
                console.log('did not got json');
            });

            // pagination
            $("#btPreviousQuestion").click(function () {
                if (current - 1 < min) {
                    return;
                }
                // anytime you've pressed previous there is an answer selected, so you can next
                // probably not the best practice but can work for now!
                $('#btNextQuestion').prop('disabled', false);
                var questionId = 'question' + current.toString();
                $('#' + questionId).hide();
                current--;
                questionId = 'question' + current.toString();
                $('#' + questionId).show();
                $('#counter').text(current.toString() + '/' + max.toString());
                if (current == min) {
                    $("#btPreviousQuestion").hide();
                }
                if (current == max - 1) {
                    $('#btNextQuestion').text('Next');
                    $('#btNextQuestion').addClass('btn-default');
                    $('#btNextQuestion').removeClass('btn-primary');
                }
            });
            $("#btNextQuestion").click(function () {
                // disable the button
                $('#btNextQuestion').prop('disabled', true);
                if ($('#btNextQuestion').text() == 'Submit') {

                    // show success toastr on json success
                    
                    var url = '/api/responses';
                    var responses = new Object();
                    var questionAnswer = undefined;
                    responses.patientId = patientId;
                    responses.questionAnswers = [];

                    $.each(answersDictionary, function(k, v){
                        questionAnswer = new Object();
                        questionAnswer.questionId = k;
                        questionAnswer.answerId = v;
                        responses.questionAnswers.push(questionAnswer);
                    });

                    $.ajax({
                        type: 'POST',
                        headers:{
                            'Content-Type': 'application/json'
                        },
                        url: url,
                        data: JSON.stringify(responses),
                        contentType: 'application/json',
                        dataType:'json',
                        success: function(){
                            toastr.success('Answers submitted');
                        },
                        error: function(xhr, status, err){
                            toastr.error('Couldn\'t sumbit.');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);

                      }
                    });

                    // redirect
                    //redirect('result');
                }
                if (current + 1 > max) {
                    return;
                }
                var questionId = 'question' + current.toString();
                $('#' + questionId).hide();
                current++;
                questionId = 'question' + current.toString();
                $('#' + questionId).show();
                if (current == max) {
                    $('#btNextQuestion').text('Submit');
                    $('#btNextQuestion').removeClass('btn-default');
                    $('#btNextQuestion').addClass('btn-primary');
                }
                // doesn't need to be in an if block really. any time you've hit next you are beyond the first question...

                $("#btPreviousQuestion").show();
                $('#counter').text(current.toString() + '/' + max.toString());
            });
        });


        var highlightAnswerChoice = function (btnId, questionId) {

            // functional
            var answerId = (btnId.replace('answer', ''));
            // console.log("Question ID: " + questionId.toString() + " AnswerChoice ID: ");
            answersDictionary[questionId] = answerId;

            // cosmetic
            $('.btnsQ' + questionId).removeClass('active');
            $('#' + btnId).addClass('active');
            $('#btNextQuestion').prop('disabled', false);
        };

        var redirect = function (url) {
            var newUrl = baseUrl + url;
            console.log("newUrl: " + newUrl);
            window.location.href = newUrl;
        }
    </script>
</div>
</body>
</html>
