<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Patients</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Asthma Assessment</th>
        </tr>
        </thead>
        <tbody id="tbodyPatient">

        <!--Show this row when site is loading the data, else hide it-->
        <tr class="loadingRecords">
            <td colspan="3">
                <div class="row text-center">
                    <span class="fa-spin glyphicon glyphicon-refresh"></span>&nbsp;Loading data ...
                </div>
            </td>
        </tr>

        <!--Show this row when there are no records to display, else hide it-->
        <tr dclass="noRecords">
            <td colspan="3">
                <div class="row text-center">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Nothing to show here.
                </div>
            </td>
        </tr>

        <!--insert patients here-->

        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <div>
                    <button>Add Patient</button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        var url = '/api/persons/';
        var row = '';
        $.get(url, function (data) {
            console.log("Data: ", data);
                console.log('Key/Val: ', key, val);
                row = '';
                row += '<tr>';
                row += '<td>';
                row += (val.firstName + ' ' + val.lastName);
                row += '</td>';
                row += '<td>';
                row += '<button class="personEditButton" data-personId="' + val.id.toString() + '">Edit</button>';
                row += '</td>';
                row += '<td>';
                row += '<button class="personQuestionnaireButton" onClick="startInterview(' + val.id.toString() + ')">Start</button>';
                row += '</td>';
                row += '</tr>';
                $('#tbodyPatient').append(row);
            });
        })
    });

    function startInterview(id) {
        alert(id);
    }

</script>
</body>
</html>