<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Patients</title>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Asthma Assessment</th>
        </tr>
        </thead>
        <tbody id="tbodyPatient">

        <!--Show this row when site is loading the data, else hide it-->
        <tr id="loadingRecords" class="loadingRecords" style="display: none;">
            <td colspan="3">
                <div class="row text-center">
                    <span class="fa-spin glyphicon glyphicon-refresh"></span>Loading data ...
                </div>
            </td>
        </tr>

        <!--Show this row when there are no records to display, else hide it-->
        <tr id="noRecords" class="noRecords" style="display: none;">
            <td colspan="3">
                <div class="row text-center">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Nothing to show here.
                </div>
            </td>
        </tr>

        <!--insert patients here-->

        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <div>
                    <button id ="btnaddPatient" onClick="redirect('upsert',-1 )">Add Patient</button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script type="text/javascript">
    $(function () {

        // declarations
        var url = '/api/persons/';

        //house-keeping
        $('#loadingRecords').show();

        $.get(url, function () {})
            .done(function (data) {
                $('#loadingRecords').hide();
                if(data.length == 0){
                    $('#noRecords').show();
                }
                else {
                    $('#noRecords').hide();
                    $.each(data, function (key, val) {
                        var edit = "redirect('upsert','" + val.id.toString() + "')";
                        var start = "redirect('start','" + val.id.toString() + "')";
                        row = '';
                        row += '<tr>';
                        row += '<td>';
                        row += (val.firstName + ' ' + val.lastName);
                        row += '</td>';
                        row += '<td>';
                        row += '<button class="personEditButton" onClick="' + edit + '">Edit</button>';
                        row += '</td>';
                        row += '<td>';
                        row += '<button class="personQuestionnaireButton" onClick="' + start + '"><i class="glyphicon glyphicon-play"></i></button>';
                        row += '</td>';
                        row += '</tr>';
                        $('#tbodyPatient').append(row);
                    });
                    toastr.info('Patients loaded.');
                }
            })
            .fail(function () {
                toastr.error('Can\'t load patients.');
            });
    });
    
    function redirect(upsertOrStart, id) {
        var url = "";
        if (upsertOrStart == "upsert")
          {
            url = "person/edit?person=" + id.toString();
          }
        else if (upsertOrStart == "start")
          {
            url = "questionnaire/list?person=" + id.toString();
          }
        var newUrl = baseUrl + url;
        console.log("newUrl: " + newUrl);

        // back button in browser won't work with this
        // window.location.replace(newUrl);

        window.location.href = newUrl;
    }
    // just realized i copie
    function upsertPatient(id) {
        // add personid to this string for edit (should be the same funciton and parsed on the other end, probably)
        var newUrl = baseUrl + 'person/edit?person='+ id.toString();

        // back button in browser won't work with this
        // window.location.replace(newUrl);

        window.location.href = newUrl;
    }
</script>
</body>
</html>
